@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Rajdhani:wght@400;600&display=swap');

:root {
  --couleur-fond: #0a0f1f;
  --couleur-cyan: #00e5ff;
  --couleur-orange: #ff9100;
  --couleur-blanc: #e0e0e0;
  --couleur-gris: #222;
  --couleur-gris-clair: #444;

  --neon-cyan: 0 0 10px #00e5ff, 0 0 20px #00e5ff, 0 0 40px #00bcd4;
  --neon-orange: 0 0 10px #ff9100, 0 0 20px #ff9100, 0 0 40px #ff6d00;
  --neon-blanc: 0 0 10px #ffffff, 0 0 20px #e0e0e0, 0 0 30px #aaaaaa;

  --bordure-cyan: 1px solid #00e5ff;
  --bordure-orange: 1px solid #ff9100;
  --bordure-grise: 1px solid #333;

  --font-principale: 'Orbitron', sans-serif;
  --font-seconaire: 'Rajdhani', sans-serif;

  --taille-titre: 2rem;
  --taille-sous-titre: 1.1rem;
  --taille-texte: 0.95rem;

  --vitesse-transition: 0.3s ease;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--couleur-fond);
  color: var(--couleur-blanc);
  font-family: var(--font-seconaire);
  font-size: var(--taille-texte);
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
  position: relative;
  z-index: 1;
}

#fond-etoiles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #0a0f1f 50%, #000000 100%);
}

.etoile {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

/* titre**************** */


.titre-jeu {
  position: relative;
  z-index: 2;
  text-align: center;

  animation: apparition 1s ease forwards;
}


.titre-jeu h1 {
  font-family: var(--font-principale);
  color: var(--couleur-cyan);
  font-size: var(--taille-titre);
  letter-spacing: 0.2rem;
  text-shadow: var(--neon-cyan);
  animation: brillance 3s ease-in-out infinite alternate;
}

.titre-jeu h1 span {
  color: var(--couleur-blanc);
  text-shadow: var(--neon-blanc);
}

.titre-jeu p {
 font-size: var(--taille-sous-titre);
  margin-top: 1rem;
  color: var(--couleur-blanc);
  opacity: 0.8;
}


/* le scoreboard */


.scoreboard {
   display: flex;
  justify-content: space-around;
  align-items: center;
  width: 42rem;
  height: 16rem;
  margin: auto;
  padding: 1.5rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.05),
              0 0 25px rgba(0, 255, 255, 0.15);
  border: 1px solid rgba(0, 184, 219, 0.3);
  z-index: 2;
}

/* Chaque joueur */
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Cercle lumineux flou */
.player-circle {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(255, 165, 0, 0.3) 0%, rgba(0, 0, 0, 0) 70%);
  opacity: 0.5;
  filter: blur(24px);
  border: 1.455px solid rgba(255, 137, 4, 0.5);
}

/* Nom du joueur */
.player h2 {
  margin-bottom: 1rem;
  font-family: var(--font-seconaire);
  text-transform: uppercase;
  text-align: center;
}

/* Cercles imbriqués Joueur 1 (orange) */
.player-circle-outer {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.player-circle-middle {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-circle-inner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
  font-family: var(--font-principale);
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--couleur-blanc);
}



/* Score */
.player-circle-inner.orange .score , .player-circle-inner.blue .score {
  font-size: 3rem;
  color: var(--couleur-blanc);

}


/* Joueur 2 (bleu) */
.player-circle-outer.blue {
  border: 1.455px solid rgba(0, 255, 255, 0.3);
  background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(0, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0) 70%);
}

.player-circle-middle.blue {
  border: 0.727px solid rgba(0, 255, 255, 0.3);
}

.player-circle-inner.blue {
  border: 1.455px solid rgba(0, 255, 255, 0.5);
}

/* Joueur 2 (orange) */
.player-circle-outer.orange {
  border: 1.455px solid rgba(255, 137, 4, 0.5);
  background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(255, 137, 4, 0.3) 0%, rgba(0, 0, 0, 0) 70%);
}

.player-circle-middle.orange {
  border: 0.727px solid rgba(255, 137, 4, 0.3);
}

.player-circle-inner.orange {
  border: 1.455px solid rgba(255, 137, 4, 0.5);
  color: #ff9100;
}



/* Scoreboard container */
.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/* Séparateur */
.score-separator {
  position: relative;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-separator .line {
  position: absolute;
  border-radius: 1rem;
}

/* Ligne verticale */
.score-separator .line.vertical {
  width: 0.0625rem;
  height: 8rem;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 211, 242, 0.50) 50%, rgba(0, 0, 0, 0.00) 100%);
}

/* Ligne horizontale */
.score-separator .line.horizontal {
  width: 8rem;
  height: 0.0625rem;
  flex-shrink: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(255, 137, 4, 0.50) 50%, rgba(0, 0, 0, 0.00) 100%);
}












.canvas-container {
  display: flex;
  justify-content: center;
  margin:auto;
  width: 680px;
  height: 480px;
  background: radial-gradient(circle, #0a0f1f, #000);
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgba(0, 255, 255, 0.2);
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: auto;
  z-index: 2;
}
button {
  border: none;
  cursor: pointer;
  font-family: var(--font-principale);
  font-size: 0.95rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.6rem;
  transition: transform var(--vitesse-transition), box-shadow var(--vitesse-transition);
}

.btn-new-game {
  color: var(--couleur-cyan);
  border: var(--bordure-cyan);
  background: rgba(0, 255, 255, 0.1);

}

.btn-config {
  color: var(--couleur-orange);
  border: var(--bordure-orange);
  background: rgba(255, 165, 0, 0.1);
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}




.controls-panel {
   width: 42rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.7px solid rgba(0, 184, 219, 0.3);
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4),
              0 0 20px rgba(0, 255, 255, 0.1),
              inset 0 0 20px rgba(0, 255, 255, 0.05);
  z-index: 6;
}

.controls-panel h1 {
  color: var(--couleur-blanc);
  text-align: center;
  font-family: var(--font);
  font-size: 1.1rem;
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 10px var(--cyan);

}

/* --- JOUEURS --- */


.controls-players {
  display: flex;
  justify-content: space-around;
  gap: 2rem;

}

.controls-player {
  flex: 1;
  border-radius: 0.875rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  font-family: var(--font);
  transition: all 0.3s ease;
}

.controls-player h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;

}

/* --- Spécifique à chaque joueur --- */
.player-cyan {
  color: var(--couleur-cyan);
  border-radius: 0.875rem;
  border: 0.727px solid rgba(0, 184, 219, 0.20);
  background: linear-gradient(135deg, rgba(0, 184, 219, 0.05) 0%, rgba(43, 127, 255, 0.05) 100%);
}

.player-orange {
  color: var(--couleur-orange);
  border-radius: 0.875rem;
  border: 0.727px solid rgba(255, 105, 0, 0.20);
  background: linear-gradient(135deg, rgba(255, 105, 0, 0.05) 0%, rgba(251, 44, 54, 0.05) 100%);
}

/* --- Commandes --- */
.cmd {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  font-size: 1.2rem;
}

.key-orange {
  color: var(--couleur-blanc);
  border-radius: 0.625rem;
  border: 0.727px solid rgba(255, 105, 0, 0.20);
  background: rgba(126, 42, 12, 0.30);
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  font-weight: bold;

  transition: all 0.2s ease;
}

.key-cyan {
  color: var(--couleur-blanc);
  border-radius: 0.625rem;
  border: 0.727px solid rgba(0, 184, 219, 0.20);

  background: rgba(16, 78, 100, 0.30);
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  font-weight: bold;

  transition: all 0.2s ease;
}







/*media queries ----------------*/


/* les écrans moyens tablettes */
@media (max-width: 768px) {
  .titre-jeu h1 {
    font-size: 2.2rem;
  }
  .scoreboard { width: 90%; height: auto; flex-direction: column; gap: 2rem; }
  .canvas-container { width: 90%; height: 380px; }
  .controls-panel { width: 90%; }
  .cmd { font-size: 0.9rem; }
}